pandas==3.0.1
numpy==2.4.2
scikit-learn==1.8.0
category-encoders==2.9.0
sentence-transformers==5.2.3
beautifulsoup4==4.14.3
lxml==6.0.2
psycopg2-binary==2.9.11
pgvector==0.4.2
python-dotenv==1.2.1
JSON-log-formatter==1.1.1

# development only — uncomment locally, keep commented in production
# pytest==9.0.2
# pytest-mock==3.15.1
